$rem:37.5;
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,button,textarea,p,blockquote,th,td { margin:0; padding:0; }
body { background:#fff; color:#555; font-size:14/$rem*1rem; font-family: Verdana, Arial, Helvetica, sans-serif; }
td,th,caption { font-size:14/$rem*1rem; }
h1, h2, h3, h4, h5, h6 { font-weight:normal; font-size:100%; }
address, caption, cite, code, dfn, em, strong, th, var { font-style:normal; font-weight:normal;}
a { color:#555; text-decoration:none; }
a:hover { text-decoration:underline; }
img { border:none; }
ol,ul,li { list-style:none; }
input, textarea, select, button { font:14px Verdana,Helvetica,Arial,sans-serif; }
table { border-collapse:collapse; }
html {overflow-y: scroll;} 
.clearfix:after {content: "."; display: block; height:0; clear:both; visibility: hidden;}
.clearfix { *zoom:1; }
*{
	margin: 0;
}
body{
	display: flex;
	flex-direction: column;
	background-color: #d4cbcb;
}
header{
    background-color: #fff;
}
* {box-sizing:border-box}
body {font-family: Verdana,sans-serif;}
.mySlides {display:none}
#img11{display:block;}
/* 幻灯片容器 */
.slideshow-container {
  max-width: 1000/$rem*1rem;
  position: relative;
  margin: auto;
}

/* 下一张 & 上一张 按钮 */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22/$rem*1rem;
  padding: 16/$rem*1rem;
  color: white;
  font-weight: bold;
  font-size: 18/$rem*1rem;
  transition: 0.6s ease;
  border-radius: 0 3/$rem*1rem 3/$rem*1rem 0;
  z-index: 5;
}

/* 定位 "下一张" 按钮靠右 */
.next {
  right: 0;
  border-radius: 3/$rem*1rem 0 0 3/$rem*1rem;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* 标题文本 */
.headText {
        color: #f2f2f2;
        font-size: 15/$rem*1rem;
        width:100%;
         position: absolute;
         z-index: 1;
         top:29/$rem*1rem;
         text-align: center;
         .special-scene{
             margin-top:30/$rem*1rem;
              
             .go-to{
                 width:100/$rem*1rem;
                 height: 33/$rem*1rem;
                 border: 2/$rem*1rem solid #fff;
                 border-radius:  16/$rem*1rem;
                 line-height:  33/$rem*1rem;
                 text-align: center;
                 margin:0 auto;
                 a{
                      font-size: 14/$rem*1rem;
                       color: #fff;
                 }
             }
         }
         p{
             margin-top: 20/$rem*1rem;
             font-size: 28/$rem*1rem;
             color: #fff;
             padding-top: 14/$rem*1rem;
             padding-bottom:  10/$rem*1rem;
             font-family: "微软雅黑";
         }
         .combination{
             width:100%;
             display: flex;
             justify-content: center;
        .picture{
             width:149/$rem*1rem;
             height: 2/$rem*1rem;
             margin-top:5/$rem*1rem;
             img{
                 width:100%;
                 height: 100%;
             }
         }

         }
}

/* 数字文本 (1/3 等) */
.numbertext {
  color: #f2f2f2;
  font-size: 12/$rem*1rem;
  padding: 8/$rem*1rem 12/$rem*1rem;
  position: absolute;
  top: 0;
}

/* 标记符号 */
.dot {
  cursor:pointer;
  height: 13/$rem*1rem;
  width: 13/$rem*1rem;
  margin: 0 2/$rem*1rem;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* 淡出动画 */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}



.banner{
	width: 100%;
	height: 40/$rem*1rem;
	background-color: #fff;
  display: flex;
  .bannerLeft{
    width: 50%;
    height: 100%;
    font-size: 16/$rem*1rem;
    border: 1/$rem*1rem solid #D9D9D9	;
    background-color: #E5E5E5;
    text-align: center;
    line-height: 40/$rem*1rem;
  }
}
#bannerRight{
  border-bottom: 1/$rem*1rem solid red	;
  background-color: #fff;
}
.contentLeft{
  width: 100%;
	height: 1780/$rem*1rem;
	background-color: #fff;
  display: flex;
  justify-content: space-around;
  .listLeft{
    margin-left: 10/$rem*1rem;
    margin-right: 10/$rem*1rem;
    margin-top: 10/$rem*1rem;
    width: 44%;
    height: 800/$rem*1rem;
    
    // background-color: yellow;
    // border: 1/$rem*1rem solid red;
    .list{
      width: 100%;
      margin-top: 20/$rem*1rem;
      // margin-left: 10/$rem*1rem;
      box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
      transition: 0.3s;
    // width: 40%;
        // border-radius: 5/$rem*1rem;
      img{
        width: 100%;
        height: auto;
        // border-radius: 5/$rem*1rem 5/$rem*1rem 0 0;
      }
      .listBotton{
        text-align: center;
        width: 100%;
        height: 50/$rem*1rem;
        padding: 2px 16px;
        // border
      }
    }
    .list:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }
  }
  display: none;;
}

.contentRight{
  
  width: 100%;
	height: 1350/$rem*1rem;
	background-color: #F7F7F7;
  display: flex;
  flex-direction: column;
  .OneDayBox{
    margin-bottom: 10/$rem*1rem;
    width: 100%;
    height: 210/$rem*1rem;
    background-color: #fff;
    // margin: 10/$rem*1rem 0 10/$rem*1rem;
        box-shadow:
        // -2/$rem*1rem 0 3/$rem*1rem -1/$rem*1rem , //左边阴影
        0 -2/$rem*1rem 4/$rem*1rem -1/$rem*1rem 	#D9D9D9	, //顶部阴影
        0 2/$rem*1rem 4/$rem*1rem -1/$rem*1rem 	#D9D9D9	;//底部阴影
        // 2/$rem*1rem 0 3/$rem*1rem -1/$rem*1rem ; //右边阴影
    .OneDayBoxImg{
      width: 100%;
      height: 150/$rem*1rem;
      margin: 10/$rem*1rem 0 10/$rem*1rem;
      box-shadow: 
      0 -2/$rem*1rem 4/$rem*1rem -1/$rem*1rem 	#EAEAEA		, //顶部阴影
        0 2/$rem*1rem 4/$rem*1rem -1/$rem*1rem 	#EAEAEA	;

        img{
        width: 100%;
        height: 100%;
      }
    }
    .OneDayBoxText{
      display: flex;
      justify-content: space-around;
      align-items: center;
      width: 100%;
      height: 30/$rem*1rem;
      // border: 1/$rem*1rem solid red;
      img{
        width: 20/$rem*1rem;
        height: 20/$rem*1rem;
      }
      p{
        width: 70%;
      }
    }
  }
}